*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: hsl(48, 18%, 83%);
}

.examples {
  padding: 3em;
  max-width: 1200px;
  display: flex;
  gap: clamp(2em, 8vw, 4em);
}

/* set up for the examples */

button {
  background: transparent;
  border: 10px solid var(--button-clr);
  /* fill ONLY a border -> use fill in svg html */
  /* for the little one -> thinner */
  border-radius: 1em;
}
/* btn one */
.btn-one {
  --button-clr: #333;
}
