:root {
  --clr-accent: #bb945f;
  --clr-accent-neutral: #8e8e8e;
  --clr-accent-dark: #0c0c0e;
  --clr-primary-neutral: #ffffff;
  --clr-primary-dark: #000000;

  --ff-primary: "Inter", sans-serif;
  --ff-head: "Forum", serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-head);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
//= 10px

nav {
  background: var(--clr-accent-dark);
  padding: 1em;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-accent-dark);
}
.fixed-nav .links a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  text-align: center;
}
.fixed-nav .links a:hover {
  color: var(--clr-accent);
}

.fixed-nav .links-container {
  height: auto !important;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
// toggle icon
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-neutral);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-accent);
}

.links-container {
  height: 0;
  overflow: hidden;
}
.show-links {
  height: 300px;
}
// for 5 links
// don't use with the dynamic toggle

// TOGGLE links

.links a {
  background: var(--clr-accent-dark);
  color: var(--clr-primary-neutral);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 4em;
  text-align: center;
  list-style: none;
  display: block;
}

a.profile-link > img {
  width: 1.7em;
  height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  font-family: var(--ff-head);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.06em;
}
.links a:hover {
  color: var(--clr-accent);
}
@media screen and (min-width: 800px) {
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 a {
    color: var(--clr-primary-neutral);
    text-decoration: none;
    font-family: var(--ff-head);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.06em;
  }

  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    list-style: none;
    display: flex;
    gap: 1.5em;
    align-items: center;
  }
  .links a {
    color: var(--clr-primary-neutral);
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    background: transparent;
  }
  .links a:hover {
    color: var(--clr-accent);
  }
  a.profile-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

// HERO
header {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 100%
    ),
    url(./img/hero.jpg) center/cover no-repeat;
  // covering navbar
}
.banner {
  min-height: 100vh;
  // display: grid;
  // place-items: center;
  // text-align: center;
  position: relative;
}
.container {
  background: var(--clr-accent-dark);
  width: 45%;
  padding: 3.5em 4em;
  position: absolute;
  left: 0;
  top: 20em;
}
.container h2 {
  color: var(--clr-primary-neutral);
  text-align: center;
  font-family: var(--ff-head);
  font-size: 3rem;
  font-weight: 400;

  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .container h2 {
    font-size: 2rem;
  }

  .action {
    position: absolute;
    top: 20px;
    right: 55px;
  }

  .profile-link > img {
    display: flex;
  }
}

// hidden profile

.action .profile {
  position: relative;
  width: 2.1em;
  height: 2.1em;
  // add more clicking area
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .action .profile img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// could be used for authorized profile
// }

.action .menu {
  position: absolute;
  top: 60px;
  right: 50px;
  padding: 1em;
  background: var(--clr-primary-neutral);
  width: 8em;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.11);
  transition: 0.5s;
  /* for js */
  visibility: hidden;
  opacity: 0;
  z-index: 111;
  // otherwise it's under the banner that's transparent
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  color: var(--clr-primary-dark);
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2em;

  position: relative;
}
// a line
.action .menu h3::before {
  position: absolute;
  content: "";
  background-color: var(--clr-accent);
  height: 1px;
  width: 80%;
  bottom: 0;
  left: 10%;
}

.action .menu ul li {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 1em 0;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .action .menu {
    position: absolute;
    top: 45px;
    right: -35px;
    padding: 1em;
    background: var(--clr-primary-neutral);
    width: 8em;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.11);
    transition: 0.5s;
    /* for js */
    visibility: hidden;
    opacity: 0;
    z-index: 111;
  }
  // .banner {
  //   // z-index: -2;
  //   // added to select profile menu
  // }

  .action .menu ul li a {
    background: transparent;
    // to see the background of a profile menu NOT the hamburger
    color: var(--clr-primary-dark);
    cursor: pointer;
    // z-index: 580;
  }
}

main {
  padding: 0 1em;
}
// check it

//popup profile
iframe {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

iframe.active {
  display: block;
}
