:root {
  --clr-accent: #bb945f;
  --clr-accent-neutral: #8e8e8e;
  --clr-accent-dark: #0c0c0e;
  --clr-primary-neutral: #ffffff;
  --clr-primary-dark: #000000;

  --ff-primary: "Inter", sans-serif;
  --ff-head: "Forum", serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-head);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
//= 10px

body {
  // margin-top: 1em;
  // margin-bottom: 1em;

  // margin-right: 2em;
  // margin-left: 2em;

  // put everything except footer and nav in main
}

nav {
  background: var(--clr-accent-dark);
  padding: 1em;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-accent-dark);
}
.fixed-nav .links a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  text-align: center;
}
.fixed-nav .links a:hover {
  color: var(--clr-accent);
}

.fixed-nav .links-container {
  height: auto !important;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
// toggle icon
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-neutral);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-accent);
}

.links-container {
  height: 0;
  overflow: hidden;
}
.show-links {
  height: 300px;
}
// for 5 links
// don't use with the dynamic toggle

// TOGGLE links

.links a {
  background: var(--clr-accent-dark);
  color: var(--clr-primary-neutral);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 4em;
  text-align: center;
  list-style: none;
  display: block;
}

a.profile-link > img {
  width: 2em;
  height: 2em;
}

h1 a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  font-family: var(--ff-head);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.06em;
}
.links a:hover {
  color: var(--clr-accent);
}
@media screen and (min-width: 800px) {
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 a {
    color: var(--clr-primary-neutral);
    text-decoration: none;
    font-family: var(--ff-head);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.06em;
  }

  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    list-style: none;
    display: flex;
    gap: 1.5em;
    align-items: center;
  }
  .links a {
    color: var(--clr-primary-neutral);
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    background: transparent;
  }
  .links a:hover {
    color: var(--clr-accent);
  }
  a.profile-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

// HERO
header {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 100%
    ),
    url(./img/hero.jpg) center/cover no-repeat;
  // covering navbar
}
.banner {
  min-height: 100vh;
  // display: grid;
  // place-items: center;
  // text-align: center;
  position: relative;
}
.container {
  background: var(--clr-accent-dark);
  width: 45%;
  padding: 3.5em 4em;
  position: absolute;
  left: 0;
  top: 20em;
}
.container h2 {
  color: var(--clr-primary-neutral);
  text-align: center;
  font-family: var(--ff-head);
  font-size: 3rem;
  font-weight: 400;

  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .container h2 {
    font-size: 2rem;
  }
}
